@import "Vendors/normalize";
@import "utils/variables";
@import "utils/keyframes";
@import "utils/functions";
@import "utils/mixins";
@import "utils/extensions";
@import "base/base";
@import "base/typography";
@import "components/buttons";
@import "layouts/nav";
@import "layouts/container";
@import "layouts/form";
@import "pages/header";
@import "pages/home";
@import "pages/menu";
@import "pages/footer";

.loadSpinner {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height:100% ;
    width: 100%;
    background-color: white;
    animation: loader 3s forwards;
}

.logo-AJT {
    position: absolute;
    width: 100%;
    top: 50%;
    @include centralizer;
    animation: loader 3s;
        &__o1 {
            color: $color-tertiary;
            animation:  o1 1.2s ease-out  backwards;
        }
        &__h {
            color: $color-primary;
            animation: h 0.3s ease-out 0.35s both;
        }
        &__m , .logo-AJT__y {
            color: $color-secondary;
            transform-origin: center bottom 1px;
            animation: my 1.5s ease-out 1s both;
        }
       
        &__f {
            color: $color-primary;
            animation: f 0.3s ease-out 1.7s both;
        }
        &__o2 {
            color: $color-tertiary;
            animation: o2 1s ease-out .8s backwards;
        }
        &__o3 {
            color: $color-tertiary;
            animation: o3 .8s ease-out .4s backwards;
        }
        &__d {
            color: $color-primary;
            transform-origin:right;
            animation: d .5s ease-in-out 0.5s both;
        }
    }