.loadAnim {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height:100% ;
    width: 100%;
    background-color: white;
    animation: loader 3s forwards;
}

.logo-AJT {
    position: absolute;
    width: 100%;
    top: 50%;
    @include centralizer;
        &__o1 {
            color: $color-tertiary;
            animation:  o1 1s ease-out  backwards;
        }
        &__h {
            color: $color-primary;
            animation: h 0.6s ease-out 0.35s both;
        }
        &__m , .logo-AJT__y {
            color: $color-secondary;
            transform-origin: center bottom 1px;
            animation: my 1.3s ease-out 1s both;
        }
       
        &__f {
            color: $color-primary;
            animation: f 0.2s ease-out 1.3s both;
        }
        &__o2 {
            color: $color-tertiary;
            animation: o2 0.6s ease-out .7s backwards;
        }
        &__o3 {
            color: $color-tertiary;
            animation: o3 .6s ease-out .5s backwards;
        }
        &__d {
            color: $color-primary;
            transform-origin:right;
            animation: d .3s ease-in-out 0.5s both;
        }
    }