* {
    box-sizing: border-box;/* ACTIVATION DE BOX-SIZING : les width incluerons la padding, les border et le 
content dans toutes les boîtes du projet */
    margin: 0%;
    
    }

    a {
      &:link {
      text-decoration: none;
      color: black;
    }
      &:visited {
        text-decoration: none;
        color: black;
      }
    }

  .super_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

  }