* {
    box-sizing: border-box;/* ACTIVATION DE BOX-SIZING : les width incluerons la padding, les border et le 
content dans toutes les boîtes du projet */
   
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    position: fixed;
    height:120vh;
    display: flex;
    width: 55%;
    opacity: 1;
  }
  main {
    margin-top: 140vh;
  }