@font-face {
    font-family: 'Titles';
    src: url('/Fonts/Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'Primary';
    src: url('/Fonts/Roboto-Medium.ttf');
}

*{      /*Chargement de la font Roboto pour l'ensemble du projet*/
    font-family: 'Primary', sans-serif;
}
.Titles {
    font-family: "Titles" ;
    font-size: 2rem;
}
.SubTitles {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.Comment {
    font-size: 1rem;
    text-align: center;
    font-weight: lighter;
}

