@font-face {
    font-family: 'Titles';
    src: url('../Fonts/Shrikhand-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Primary';
    src: url('../Fonts/Roboto-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Primary-Bold';
    src: url('../Fonts/Roboto-Bold.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Primary-light';
    src: url('../Fonts/Roboto-Light.ttf');
    font-display: swap;
}

*{      /*Chargement de la font Roboto pour l'ensemble du projet*/
    font-family: 'Primary', sans-serif;
}
.Titles {
    font-family: "Titles" ;
    font-size: 2rem;
}
.SubTitles {
    font-family:'Primary-Bold';
    font-size: 28px;
    margin-left: 20px;    
    @include desktop {display: none;}
}
.Comment {
    font-family:'Primary-Light';
    font-size: 20px;
}
.Titles_Tags  {
    font-family:'Primary-Bold';
    font-size: 22px;
    margin: 20px 0 10px 20px; 
    }   
.Comment_Tags {
    font-size: 22px;
    margin: 0 0 20px 20px;
    }   

