footer {
    background-color: $color-dark;    
    width: 100%;
}
   
ul {
  padding-left: 20px;
  li {
   list-style: none;
   padding: 10px;
   color:white;
      #footer_logo {
        background:  no-repeat left/35% url(../images/logo/ohmyfood.png);
        filter: invert(100%);
        height: 80px;
        @include retina {
          background: no-repeat auto auto left/35% url(../images/logo/ohmyfood@2x.svg);
          }
        @include tab {
          background:  no-repeat left/15% url(../images/logo/ohmyfood.png);
          }
      }
   i {
     margin-right: 10px;
    }
   a {
     &:link {
     color: white;
     }
     &:visited {
       color: white;
     }
    }
  }
}
  
