header {
    background:  no-repeat center/40% url(/images/logo/ohmyfood.png);
    height: 80px;
    @include retina {
      background:  no-repeat auto auto center/70% url(/images/logo/ohmyfood@2x.svg);
    }
    @include tab {
      height: 130px;
    }
  }