.functionement {
    @include centralizer;
    flex-direction: column;
    margin-bottom: 60px;
    
    @include desktop {
        position: fixed;
        right: -360px;
        top: 50px;
        width: 450px;
        z-index: 2;
        justify-content: space-evenly;
        display: flex;
        height: 100%;
        &:hover { 
            right: -70px;
            transition: 0.4s ease-out;}
    }
    
        &__steps {
            position: relative;
            z-index: 1;
            @include centralizer;
            justify-content: space-evenly;
            font-family: Primary-Bold;
            font-size: 14px;
            width: 80%;
            height: 75px;
            margin: 20px;
            border-radius: 25px;
            box-shadow: 0px 5px 5px 2px darken($color-grey, 15%);
            background-color: $color-grey;
            i {
                margin-left: 20px;
                font-size: 22px;
                }
            &:hover {
                &::after {opacity: 1;}
                & > .functionement__steps i::before {
                    opacity: 0;}
                    
            i::before {
            color:$color-primary;
            }        
          
            }
            &::after {
                @include post_elmt;
                border-radius: 25px;
                background-color: lighten($color-primary, 35);
                transition: opacity 250ms;
            }    
            .num {
                    position: absolute;
                    left:-20px;
                    @include centralizer;
                    border-radius: 50%;
                    background-color: $color-primary;
                    color: white;
                    font-family: Primary-Bold;
                    width: 35px;
                    height:35px;
                }
        }
}