.image_presentation {
    position: relative;
   img {
    height:300px;
    width: 100%;
    position: relative;
    object-fit: cover;
    }
    .no_marg_neg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: $color-grey;
    }
}

.menus {
    padding:25px 20px 40px 20px;
    background: $color-grey;
    width: 100%;
   @include centralizer;
    flex-direction: column;
    @include tab {
        flex-direction:row;
        flex-wrap: wrap;
        align-items: baseline;
    }
    h2 {
         display: flex;
         justify-content: space-around;
         width: 100%;
     }
    .Starter {
        animation: reveal 0.3s backwards;
    }   
    .Plats {
        animation:reveal 0.6s backwards;
        @include tab {margin:20px 35px 20px 35px}
    }
    .Desserts {
        margin-bottom: 40px;
        animation:reveal 1s backwards;}
    .Menus_contenair {
        width: 100%;
        @include tab {width: 30%;}
        h3 {
            position: relative;
            font-size: 22px;
            padding: 30px 0 10px 0;
        }
        h3::after {
            content: "";
            width: 50px;
            height: 3px;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.MenusTags {
    background: white;
    box-shadow: 0px 5px 5px 2px darken($color-grey, 15%);
    border-radius: 15px;
    margin: 20px 0 20px 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    perspective: 180px;
    transform-style: preserve-3d;
    transform-origin: center center 180px;
    animation: MenusTags 0.5s forwards;
    &__Text{
        display: flex;
        flex-direction: column;
        overflow: hidden;     
        flex:1 1 100%;     
    }
    &__Names {
        white-space: nowrap; 
        overflow: hidden;   
        text-overflow: ellipsis;
        margin-top: 20px;
        
        }
    &__Bottom {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        overflow: hidden;   
    }
    &__comments {
        white-space: nowrap; 
        overflow: hidden;   
        text-overflow: ellipsis;
        flex:1 1 80%;
    }
    &__prices {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
            margin-right: 10px;
            flex:1 0 20%;
        }   
   
    &__validation {
        /*position: absolute;
        right: 0;
        top: 0;
        bottom: 0;*/
        flex:2 2 80px;
        transform-origin:right ;
        transition: transform  0.2s ease-in-out;
        transform: scaleX(0);
        overflow: hidden;
        background: $color-tertiary;
        color:$color-tertiary;
        @include centralizer;
        width: 80px;
        margin-left: 5px;
        border-bottom-right-radius:15px;
        border-top-right-radius:15px;
            i {
                height: 30px;
                width: 30px;
                border-radius: 50px 50px 50px 50px;
                background-color: white;
                @include centralizer;
                margin: 5px;
            }
    } 
    &__anim {
        @for $p from 1 to 10 {
          &--#{$p} { animation-delay: $p*$delay-TagsAnim;}
          }
    }
        
         
    /*&:hover > .MenusTags__prices{
        transform:  translateX(-250%);
        transition: 0.5s ease-in-out;
    }
    &:hover > .MenusTags__Text {
        transform:  scaleX(0.7);
        @include tab {transform:  scaleX(1)}
    }
    */&:hover > .MenusTags__validation i  {
    animation: validate 0.3s 0.1s ease-out forwards;
    }
    &:hover > .MenusTags__validation  {
        transform:  scaleX(1);
    }

}