.image_presentation {
    position: relative;
   img {
    height:300px;
    object-fit: cover;
    position: relative;
    width: 100%;
    }
    .no_marg_neg {
        background: $color-grey;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        bottom: 0;
        height: 40px;
        position: absolute;
        width: 100%;
    }
}

.menus {
    @include centralizer;
    background: $color-grey;
    flex-direction: column;
    padding:25px 20px 40px 20px;
    width: 100%;
    @include tab {
        align-items: baseline;
        flex-direction:row;
        flex-wrap: wrap;
    }
    &__top {
        display: flex;
        justify-content: space-around;
        width: 100%;
        i {font-size: 28px ;}
    }
    .Starter {
        animation: reveal 0.3s backwards;
    }   
    .Plats {
        @include tab {margin:20px 35px 20px 35px}
        animation:reveal 0.6s backwards;
    }
    .Desserts {
        animation:reveal 1s backwards;
        margin-bottom: 40px;
    }
    .Menus_contenair {
        @include tab {width: 30%;}
        width: 100%;
        h3 {
            font-size: 22px;
            padding: 30px 0 10px 0;
            position: relative;
        }
        h3::after {
            background-color: #99e2d0;
            bottom: 0;
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            width: 50px;
        }
    }
}

.MenusTags {
    animation: MenusTags 0.5s forwards;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 2px darken($color-grey, 15%);
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: flex-end;
    margin: 20px 0 20px 0;
    perspective: 180px;
    position: relative;
    transform-origin: center center 180px;
    transform-style: preserve-3d;
    &__Text{
        align-self: flex-start;   
        display: flex;
        flex-direction: column;
        overflow: hidden; 
        transform-origin: left; 
        width: 100%;
    }
    &__Names {
        margin-top: 20px;
        overflow: hidden;   
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap; 
        }
    &__comments {
        overflow: hidden;   
        text-overflow: ellipsis;
        white-space: nowrap; 
    }
    &__prices {
            align-items: flex-end;
            display: flex;
            margin-bottom: 20px;
            margin-right: 10px;
        }   
   
    &__validation {
        @include centralizer;
        background: $color-tertiary;
        border-bottom-right-radius:15px;
        border-top-right-radius:15px;
        color:$color-tertiary;
        margin-left: 5px;
        overflow: hidden;
        transform-origin:right ;
        transform: scaleX(0);
        width: 0px;
            i {
                @include centralizer;
                background-color: white;
                border-radius: 50px 50px 50px 50px;
                height: 30px;
                margin: 5px;
                width: 30px;
            }
    } 
    &__anim {
        @for $p from 1 to 12 {
          &--#{$p} { animation-delay: $p*$delay-TagsAnim;}
          }
    }
    &:active > .MenusTags__validation i  {
        animation: validate 0.3s 0.1s ease-out backwards;
    }
    &:active > .MenusTags__validation  {
        min-width: 80px;
        transform: scaleX(1);
        transition: 150ms ease-in-out;
    }    
    &:hover > .MenusTags__validation i  {
    animation: validate 0.3s 0.1s ease-out backwards;
    }
    &:hover > .MenusTags__validation  {
        min-width: 80px;
        transform: scaleX(1);
        transition: 150ms ease-in-out;
    }

}