@keyframes anim_logo {
    0%{
        transform: translate(100%);
    }
    10% {
        transform-origin: left;
        transform: rotate(1turn) translate(90% -35%);
    }
    40% {
        transform: rotate(4turn) translate(40% 20%);
    }
    45% {
        transform: rotate(4turn) translate(30% -20%);}
    100% {transform: rotate(1turn) ;
    }

}
@keyframes reveal {
    0%{opacity: 0;}
    60%{opacity:0.5;}
    100%{opacity: 1;}
}
@keyframes validate {
    0% { transform: translateX(200%) rotate(1turn);}
    49% {transform: translateX(-98%) scaleX(0.5) ;}
    50% {transform: translateX(-100%) ;}
    51% {transform: translateX(-100%) scaleX(0.5) ;}
    70% {transform: translate(-50% ,-100%) rotate(-1turn) scaleY(0.5);}
    100%{transform: translateX(0) ; }
}