@mixin centralizer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin post_elmt {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}
@mixin desktop {
    @media screen and (min-width:map-get($breakpoint,desktop))
      {@content}
};

@mixin tab {
    @media screen and (min-width:map-get($breakpoint,tab))
      {@content}
};

@mixin retina {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) 
      {@content}
};