#recherche {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-grey;
  width: 100%;
  margin-bottom: 40px;

    .saisie { 
    @include centralizer;
    font-size:18px;
    color: $color-dark;
    width: 100%;
    height:50px;
    border:0;
    border-top:solid 3px darken($color-grey, 35%);
    background: linear-gradient(darken($color-grey, 35%), 1px, darken($color-grey, 5%));
        input {
        border: 0;
        background: none;
        text-align: center;
            &::placeholder {
            color: $color-dark;
            font-weight: bold;
            }
            &:focus {
                border: 0;
            }
        } 
    }
    .Comment {
        margin: 0px 10px 40px 10px;
        text-align: center;
    }
    .SubTitles {
        margin: 40px 50px 20px 50px;
        text-align: center;
    }    
}